
body.bodyGray {
    position: relative;
}

body.bodyGray::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.form-closed {
    display: none;
}

.form-open {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: aliceblue;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0000001a, -5px -5px 10px #0000001a;
    gap: 10px;
    margin-top: 20px;
    z-index: 2;

    label {
        font-size: 1rem;
        color: #333;
    }
    
    input {
        padding: 0.5em;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}