/*
Criar um arquivo CSS externo chamado "estilos.css".

Aplicar cores, fontes e espaçamentos coerentes com uma identidade visual moderna e profissional.

Utilizar Flexbox para alinhar itens do menu de navegação e outras seções.

Utilizar CSS Grid para estruturar a seção "Serviços" em um layout responsivo.

Usar unidades relativas (%, vh, vw, rem, em, fr) para garantir flexibilidade no design.

Criar um menu responsivo que se ajuste para telas menores (hambúrguer menu opcional).

Garantir que imagens e textos sejam responsivos. */

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1em 1.5em;
    color: #123517;
}

button {
    background-color: #25b900;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1fa000;
}

p {
    font-size: 1rem;
    margin: 0.5em 2.5rem;
    color: #0c0c0c;
}

a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #25b900 !important;
    text-shadow: -0.5px 0 0 currentColor;
}

.main__home {
    background-color: #eaffeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw 7vw;
    color: #25b900;
    border: 1px solid #b4ffae;
    text-align: center;
}

.main__home h1 {
    font-size: 1.5rem;
}

.main__home p {
    font-size: 1rem;
    margin-top: 1rem;
    color: #0c0c0c;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    background-color: #f8f8f8;
}

.header__logo {
    background-image: url("../imgs/logoP.png");
    width: 8vh;
    height: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu--closed {
    background-image: url("../imgs/menu.svg");
    width: 8vh;
    height: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__item {
    display: none;
}

/* Compatibilidade com classes antigas usadas pelo JS */
.closed {
    background-image: url("../imgs/menu.svg");
    width: 8vh;
    height: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.closed a {
    display: none;
}

.menu--open {
    background-color: #eaffeb;
    position: fixed;
    padding: 2em;
    top: 4em;
    left: 0em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    width: 100%;
    background-color: #c3fabf;
}

.menu--open::before {
    content: url("");
    background-image: url("../imgs/menuOpen.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    width: 9vh;
    height: 9vh;
}

.menu--open::after{
    content: url("");
    background-color: #eaffeb;
    position: fixed;
    right: 0em;
    top: 0em;
    width: 100%;
    height: 12vh;
    z-index: -1;
}


.main {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 10rem;
}

.main a {
    display: block;
    margin: 0.5em 2.5em;
}


#main__paineis {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
}

.main__painel {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1.5fr));
}

.main__painel img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#main__feedbacks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1.5fr));
    gap: 1rem;
    margin: 2em 1.5em;
}

.main__clientes {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #0000004f, -2px -2px 10px #0000004f;
}

.main__clientes p {
    font-size: 1rem;
    color: #1f1f1f;
}

.nome-cliente {
    text-align: right;
    font-size: 0.9rem;
    color: #444444;
}

.footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.5rem;
    color: #666;
}

@media (min-width: 700px) {

    .menu {
        background-image: none !important;
        width: auto;
        height: auto;
        padding: 0 1rem !important;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.2rem;
    }

    .menu__item {
        display: block;
    }

    .header__logo {
        background-image: none;
    }

    #main__paineis {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 2rem;
    }
}